In [2]:

!pip install pandas

^C

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\windows 10\appdata\roaming\python\python38\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.1
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
Requirement already satisfied: six>=1.5 in c:\users\windows 10\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2025.2 tzdata-2025.2

WARNING: You are using pip version 20.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\program files\python38\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd

In [4]:
import os
os.listdir()

['bazi.ipynb',
 'love.ipynb',
 'New folder',
 'numpy.ipynb',
 'origin_Sd2JAWqHloowpuYfBNKRZgEu8iNvZQcRexVaTlfN.mp4',
 'origin_tngMRXCbTXpITwrx0viwEJPyNPXx1bfKAsedKoMj.mp4',
 'origin_UqOiuJHS2uXJijwYrCC8Mrv7FGC6M2ZkbjMmHYA9.mp4',
 'origin_wuiPEtPjRf2yNntpOwRonJnRovcQIMwzer9UCrdx.mp4',
 'QR.ipynb',
 'qrcode.ipynb',
 'test.csv',
 'weather.ipynb']

In [5]:
with open('test.csv', 'w') as f:
    f.write("name,age\nAli,22\nSara,25")

df = pd.read_csv('test.csv')
df

   name  age
0   Ali   22
1  Sara   25

In [8]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2